<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <h1>Simple Weather App</h1>
    <form method="post">
        <label>Enter City Name: <input type="text" name="city"></label>
        <button type="submit">Get Weather</button>
    </form>
    {% if weather_data %}
        <h2>City: {{weather_data.city}}</h2>
        <p><strong>Date:</strong> <i>{{weather_data.date}}</i></p>
        <p><strong>Weather:</strong> <i>{{weather_data.weather}}</i></p>
        <p><strong>Description:</strong> <i>{{weather_data.description}}</i></p>
        <p><strong>Temperature:</strong> <i>{{weather_data.temperature}}</i></p>
        <p><strong>Feels Like:</strong> <i>{{weather_data.feels_like}}</i></p>
        <p><strong>Pressure:</strong> <i>{{weather_data.pressure}}</i></p>
        <p><strong>Humidity:</strong> <i>{{weather_data.humidity}}</i></p>
        <p><strong>Visibility:</strong> <i>{{weather_data.visibility}}</i></p>
        <p><strong>Wind Speed:</strong> <i>{{weather_data.wind_speed}}</i></p>
    {% elif error %}
        <p style="color: red; font-weight: bolder;">
            {{error}}
        </p>
    {% endif %}
</body>
</html>